<h1>{{ question }}</h1>

{% if error_message %}
  <!-- mixing css with html is not a good ideia, but I didn't want to separate it.
  Don't worry, there's not too much of it -->
  <p><strong style="color:red;">{{ error_message }}</strong></p>
{%  endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %} <!-- Avoids Cross Site Request Forgeries attacks -->
  {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
  {% endfor %}
  <input type="submit" value="Vote">
</form>
