<html>
  <head>
      <title>Poll's Details</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
  </head>

  <body>
      <div class="div1">
        <h1 class="page_title">{{ question }}</h1>
        {% if error_message %}
          <p class="error_message">{{ error_message }}</p>
        {%  endif %}
        <div class="div2">
          <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %} <!-- Avoids Cross Site Request Forgeries attacks -->
            {% for choice in question.choice_set.all %}
            <input type="radio"  name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <div class=""><input type="submit" class="button div-button-pos-left" value="Vote"></div>
            <div ><a href="{% url 'polls:index'%}" class="button div-button-pos-right">Go Back</a></div>
          </form>
        </div>
      </div>
  </body>
</html>
